@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --bar-bg-color: rgb(110, 111, 112);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#filters {
  text-align: center;
  line-height: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
}

#reset-btn {
  padding: 1rem 1.5rem;
  background-color: var(--bar-bg-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}